.App {
  background-color: #111;
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 100vh; */
}

.social-icons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.social-icons svg {
  color: #fff;
  margin-left: .5em;
  margin-right: .5em;
  font-size: 3em
}

h3 {
  color: #fff
}